/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  padding: 0;
  margin: 0;
}
/*
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  line-height: 40px;
  width: 80%;
  margin-bottom: 12px;
} */

/* .Content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */
